{% extends 'base.html' %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/about-style.css' %}" />
{% endblock styles %}

{% block extra_head %}
  - About-Us
{% endblock extra_head %}

{% block content %}
    <main>
      <h1>About Us</h1>
      <p>
        We are about helping people achieve their wellness goal. Calorie Compass
        is where we share our thoughts, experience, and inspiration to motivate
        you in your weight loss journey. We believe that with the right tool and
        support, anyone can achieve their goals. Take a look around our site and
      </p>

      <h1>LET’S START THIS JOURNEY TOGETHER!</h1>
    </main>
{% endblock content %}
