/* Time date */
#datetime {
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
  font-weight: bold;
}

/* Header */

.logo {
  width: 30%;
}
.align-right {
  justify-content: flex-end;
}
/* Main Body */
.main-body {
  padding-top: 50px;
}
.titles {
  padding: 100px;
}
p {
  font-size: 25px;
}
a {
  text-decoration: none;
  color: #0c650f;
}

a:hover {
  text-decoration: underline;
  opacity: 0.7;
}
.our-products {
  padding: 30px;
  font-weight: bolder;
}
.custom-main-image {
  width: 500px;
  height: 500px;
}

/* footer {
  padding: 20px;
  font-size: 15px;
  background-color: #343a40;
  color: #fff;
  text-align: center;
} */

/* Contacts */
.contacts {
  color: #fff;
  background-color: #4d467f;
  padding-left: 250px;
}
.contacts h1 {
  color: #fff;
  line-height: 1.5;
}
.social-contacts a i {
  color: #fff;
  font-size: 45px;
}

footer {
  padding: 20px;
  font-size: 15px;
  font-weight: bolder;
  color: #4d467f;
  text-align: center;
}
.about-footer {
  margin-top: 100px;
  padding: 20px;
  font-size: 15px;
  font-weight: bolder;
  background-color: #4d467f;
  color: #fff;

  text-align: center;
}

/* Responsive CSS */

@media (max-width: 992px) {
  .custom-main-image {
    width: 100%;
    height: auto;
    border-radius: 0;
  }
  h1,
  h3 {
    font-size: 30px;
    margin: 20px;
  }

  p {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .align-right {
    justify-content: flex-start;
  }

  .contacts {
    padding: 0;
  }

  h1,
  h3 {
    font-size: 24px;
    margin: 20px;
  }

  p {
    font-size: 18px;
  }

  .our-products {
    margin: 50px;
    padding: 20px;
  }

  footer {
    padding: 10px;
    font-size: 12px;
  }

  .contacts h1 {
    font-size: 20px;
    line-height: 1.2;
  }

  .social-contacts a i {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .logo {
    width: 120px;
  }

  .contacts {
    padding-left: 20px;
  }

  .projects {
    margin: 50px;
  }

  .our-products {
    margin: 30px;
    padding: 15px;
    font-size: 20px;
  }

  .view-work-button {
    margin-top: 50px;
    font-size: 18px;
  }

  .custom-main-image {
    width: 100%;
    height: auto;
    border-radius: 0;
  }
}
