{% extends "base_generic.html" %}
{% load allauth %}

{% block extra_head %}
    - Set Password
{% endblock extra_head %}

{% block auth_content %}
    {% element h1 %}
        Set Password
    {% endelement %}
    {% url 'account_set_password' as action_url %}
    {% element form method="post" action=action_url %}
        {% slot body %}
            {% csrf_token %}
            {{ redirect_field }}
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" name="action" %}
                Set Password
            {% endelement %}
        {% endslot %}
    {% endelement %}
{% endblock auth_content %}
